{% extends 'home.html' %}

{% block content %}
<br>
<h2>About Muqrakr</h2>
<article>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sit amet ligula pellentesque, laoreet nisl sed, tempus felis. In vel est commodo, consectetur mi in, fermentum metus. Ut interdum nisi eget ligula mattis, blandit feugiat diam molestie. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam tincidunt velit est, ac commodo turpis iaculis ac. Aliquam vitae nulla molestie, rhoncus nisl vel, ultrices mi. Praesent vitae ornare ipsum, sit amet placerat nibh. Donec id felis tempus, dignissim metus eu, finibus diam. Vivamus volutpat vestibulum turpis in aliquet. Nullam nisi metus, condimentum ut luctus eu, sodales id sapien. Quisque nec ultrices felis, tristique gravida lectus. Aenean viverra facilisis neque, eget porttitor elit dapibus eu.
	</p>
</article>
{% endblock %}