<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<title>{% block title %}Muqrakr{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
	<nav>
		{% if user.is_authenticated %}
			<button><a href="{% url '' %}">Home</a></button>
			<button><a href="{% url '' %}">About</a></button>
			<button><a href="{% url '' %}">Intro to Campaign Finance</a></button>
			<button><a href="{% url '' %}">Candidate/Committee Search</a></button>
			<button><a href="{% url '' %}">Your Profile</a></button>
		{% else %}
			<p>You are not logged in.</p>
			<button><a href="{% url '' %}"></a>Login</button>
			<button><a href="{% url '' %}">Sign Up</a></button>
		{% endif %}
	</nav>
	<h1>Muqrakr</h1>
		{% block content %}
		{% endblock %}
</body>
</html>