{% extends 'home.html' %}
{% load static %}

{% block content %}
<br>
<h2>Intro to Campaign Finance</h2>
	<br>
	<h3>Campaign Finance is . . .</h3>
	<img class="introcfImg" src="{% static 'Muqrakr/campaign_finance_is.jpg' %}" alt="campaign_finance_is" height="400" width="450">
	<article>
		<p>
			From <a href="https://en.wikipedia.org/wiki/Campaign_finance">Wikipedia</a>:
		</p>
		<p>
			"Campaign finance refers to all funds raised to promote candidates, political parties, or policy initiatives and referenda. Political parties, charitable organizations, and political action committees (in the United States) are vehicles used in aggregating funds to keep campaigns alive. "Political finance" is also popular terminology, and is used internationally for its comprehensiveness. Campaign finance deals with "the costs of democracy", a term coined by G. Alexander Heard for his famous analysis of campaign finance in the U.S."
		</p>
		<p>
			"Political campaigns have many expenditures, such as the cost of travel of candidates and staff, political consulting, and the direct costs of communicating with voters via media outlets. Campaign spending depends on the region. For instance, in the United States, television advertising time must be purchased by campaigns, whereas in other countries, it is provided for free. The need to raise money to maintain expensive political campaigns diminishes ties to a representative democracy because of the influence large contributors have over politicians."
		</p>
		<p>
			"Although the political science literature indicates that most contributors give to support parties or candidates with whom they are already in agreement, there is wide public perception that donors expect government favors in return. (such as specific legislation being enacted or defeated), so some have come to equate campaign finance with political corruption and bribery. These views have led governments to reform campaign financing in the hope of eliminating big money influence."
		</p>
		<p>
			"The causes and effects of campaign finance rules are studied in political science, economics, and public policy, among other disciplines."
		</p>
	</article>
	<br>
	<h3>Problems with current Campaign Finance laws:</h3>
	<img class="introcfImg" src="{% static 'Muqrakr/problems_with_current_cf.jpg' %}" alt="problems_with_current_cf" height="400" width="450">
	<article>
		<p>
			From <a href="https://www.brennancenter.org/issues/money-politics">The Brennan Center For Justice</a>:
		</p>
		<p>
			"There is a growing disconnect between average citizens and elected officials. Part of the blame lies with a campaign finance system that unfairly stacks the deck in favor of the few Americans able to give exceptionally large contributions. Citizens United and other court rulings have obliterated decades of commonsense campaign finance laws. Now a handful of wealthy special interests dominate political funding, often through super PACs and shadowy nonprofits that conceal donors’ identities from the public."
		</p>
		<br>
		<p>
			From The <a href="https://www.pewresearch.org/fact-tank/2018/05/08/most-americans-want-to-limit-campaign-spending-say-big-donors-have-greater-political-influence/">Pew Research Center</a>:
		</p>
		<p>
			"Americans overwhelmingly support limits on political campaign spending, and most think new laws could effectively reduce the role of money in politics."
		</p>
		<p>
			"Those who have contributed money to a political candidate or group in the past year are much more likely than those who have not made a recent contribution to say that their representative in Congress would help them if they had a problem. They are also more likely to say ordinary citizens can do a lot to influence the government in Washington if they are willing to make the effort."
		</p>
		<p>
			"Americans say that they feel it is at least somewhat likely their representative would help them with a problem if they contacted her or him. However, those who have given money to a political candidate or group in the last year believe their representative would help. Belief that one’s member of Congress will help them with a problem is highest among the subset of donors who have given more than $250 to a candidate or campaign in the past year."
		</p>
		<p>
			"A similar pattern is seen on the question of whether or not people feel ordinary citizens can make a difference. Among those who did not make a political contribution in the past year, about half say there is a lot ordinary citizens can do to influence the government in Washington. By comparison, those who gave more than $250, say there is a lot ordinary citizens can do to make a difference."
		</p>
		<br>
		<p>
			From <a href="https://journalistsresource.org/studies/politics/finance-lobbying/campaign-finance-policy-recent-developments/">Journalist's Resource</a>:
		</p>
		<p>
			"As a 2011 Congressional Research Service report notes, the Supreme Court’s 2010 decision in Citizens United v. FEC and a lower court’s decision in SpeechNow.org v. FEC constitute “arguably represent the most fundamental changes to campaign finance law in decades.” In his 2011 State of the Union Address, President Obama said that the Supreme Court ruling would “open the floodgates for special interests — including foreign companies — to spend without limit in our elections.” The issue remains highly contentious and the consequences are continuing to unfold."
		</p>
		<p>
			"During the 111th Congress, the U.S. House and Senate considered legislation to re-regulate various aspects of campaign finance. Though the House passed the DISCLOSE Act — a bill to ban certain types of campaign contributions and to facilitate the public disclosure of all contributions — the Senate declined to pass a companion bill."
		</p>
		<br>
		<p>
			From <a href="https://journalistsresource.org/wp-content/uploads/2011/10/Campaign-Finance.pdf">The Congressional Research Service</a>:
		</p>
		<p>
			"As a consequence of Citizens United, corporations and unions are now free to use their treasury funds to air political advertisements explicitly calling for election or defeat of federal or state candidates (independent expenditures) or advertisements that refer to those candidates during pre-election periods, but do not necessarily explicitly call for their election or defeat (electioneering communications). Previously, such advertising would generally have had to be financed through voluntary contributions raised by PACs affiliated with unions or corporations."
		</p>
		<p>
			"The 2010 U.S. Court of Appeals decision in SpeechNow.org means that “contributions to PACs that make only independent expenditures — but not contributions — could not be constitutionally limited. As a result, these entities, commonly called super PACs, may accept previously prohibited amounts and sources of funds, including large corporate, union, or individual contributions used to advocate for election or defeat of federal candidates."
		</p>
		<p>
			"The report’s author notes: “Unless meeting [certain] criteria for disclosure, corporate or union funds given to an intermediary (such as a trade association) do not have to be publicly reported. Accordingly, the total sources or amounts of corporate or union funds in federal elections remains unknown.”"
		</p>
	</article>
{% endblock %}