{% extends 'home.html' %}
{% load static %}

{% block content %}
<br>
<h2>Intro to Campaign Finance</h2>
	<br>
	<h3>Campaign Finance is...</h3>
	<img src="{% static 'Muqrakr/campaign_finance_is.jpg' %}" alt="campaign_finance_is" height="400" width="450">
	<article>
		<p>
			Praesent in quam sed turpis eleifend pharetra. Vestibulum in odio mauris. Proin dignissim mi eget consectetur luctus. Nam sit amet elit massa. Praesent blandit vehicula rhoncus. Suspendisse ornare justo in ante lacinia, non accumsan felis suscipit. Proin ullamcorper ante tellus, eget tristique justo gravida ut. Maecenas laoreet lectus et interdum hendrerit. Maecenas id orci erat. Nullam pharetra egestas libero, at dapibus felis euismod eu. Praesent nec urna lobortis, elementum quam vel, bibendum odio. Maecenas mauris urna, varius eu blandit a, dapibus eu ipsum. Suspendisse lobortis, metus ut tempor elementum, dolor neque volutpat tortor, at ornare nunc sapien vel massa. Cras tincidunt tincidunt rutrum. Vivamus et iaculis sapien, et convallis metus. Quisque elementum, nisl vitae efficitur tristique, nulla turpis consequat metus, ut sagittis magna metus tincidunt metus.
		</p>
		<p>
			Sed at tellus libero. Vivamus dapibus, justo ac finibus dignissim, nunc orci condimentum ante, finibus fringilla sapien erat ac nisl. Suspendisse malesuada scelerisque odio, nec blandit elit rutrum id. Integer iaculis a libero eget tempor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur elit velit, euismod at erat non, laoreet pulvinar dolor. Donec dolor nulla, iaculis eget neque ut, egestas mattis augue. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin non sapien sodales, ultrices nisl in, varius orci. Maecenas elit erat, porta rutrum arcu ut, molestie tristique nisl. Pellentesque in sodales urna, et iaculis nibh. Praesent lacinia purus et aliquet porttitor. Praesent at mollis magna. Sed dictum diam id tortor malesuada semper.
		</p>
	</article>
	<br>
	<h3>Problems with current Campaign Finance laws:</h3>
	<img src="{% static 'Muqrakr/problems_with_current_cf.jpg' %}" alt="problems_with_current_cf" height="400" width="450">
	<article>
		<p>
			Sed at tellus libero. Vivamus dapibus, justo ac finibus dignissim, nunc orci condimentum ante, finibus fringilla sapien erat ac nisl. Suspendisse malesuada scelerisque odio, nec blandit elit rutrum id. Integer iaculis a libero eget tempor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur elit velit, euismod at erat non, laoreet pulvinar dolor. Donec dolor nulla, iaculis eget neque ut, egestas mattis augue. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin non sapien sodales, ultrices nisl in, varius orci. Maecenas elit erat, porta rutrum arcu ut, molestie tristique nisl. Pellentesque in sodales urna, et iaculis nibh. Praesent lacinia purus et aliquet porttitor. Praesent at mollis magna. Sed dictum diam id tortor malesuada semper.
		</p>
		<p>
			Praesent in quam sed turpis eleifend pharetra. Vestibulum in odio mauris. Proin dignissim mi eget consectetur luctus. Nam sit amet elit massa. Praesent blandit vehicula rhoncus. Suspendisse ornare justo in ante lacinia, non accumsan felis suscipit. Proin ullamcorper ante tellus, eget tristique justo gravida ut. Maecenas laoreet lectus et interdum hendrerit. Maecenas id orci erat. Nullam pharetra egestas libero, at dapibus felis euismod eu. Praesent nec urna lobortis, elementum quam vel, bibendum odio. Maecenas mauris urna, varius eu blandit a, dapibus eu ipsum. Suspendisse lobortis, metus ut tempor elementum, dolor neque volutpat tortor, at ornare nunc sapien vel massa. Cras tincidunt tincidunt rutrum. Vivamus et iaculis sapien, et convallis metus. Quisque elementum, nisl vitae efficitur tristique, nulla turpis consequat metus, ut sagittis magna metus tincidunt metus.
		</p>
	</article>
{% endblock %}