{% extends 'home.html' %}
{% load static %}

{% block content %}
<div class="container">
{% if user.is_authenticated %}
<br>
<h2>{{ user.username }}'s Profile</h2>
	<div>
	{% comment %}
	{% for item in object_list %}
	{% endcomment %}
		<img src="{% static 'profile_pics/john_smith.jpg' %}" width="200" height="200">{% comment %}{{ item.user_pic }}{% endcomment %}
		<h3>{{ item.user_title }}</h3>
		<textarea class="aboutUsertext">{{ item.about_user }}</textarea>
		<br>
		<button><a href="{% url 'profiles_app:update_your_profile' %}">Update Profile</a></button>
	{% comment %}	
	{% endfor %}
	{% endcomment %}
	</div>
	<br>
		<h3>Saved Searches:</h3>
			<div class="savedSearchLeft" style="border: none;">
				<form method="POST">
					{% csrf_token %}
				<h3 class="savedCand">Saved Candidate Searches</h3>
				<br>
				<button type="submit" class="csvBtn" formaction="{% url 'profiles_app:candidate_csv' %}">Download</button>
				<button type="submit" class="delBtn" formaction="{% url 'profiles_app:delete_candidate' %}">Delete</button>
				<br>
				{% for search in object_list %}
				<br>
				<ul class="saveCandlist">
					<li class="savedSearchitem"><a>{{ search.name }}</a>
						<input type="checkbox" name="checkbox" class="checkbox" value="{{ search.id }}">
					</li>
				</ul>
				{% endfor %}
				</form>
			</div>
			<br>
			<div class="savedSearchRight" style="border: none;">
				<form method="POST">
					{% csrf_token %}
				<h3 class="savedComm">Saved Committee Searches:</h3>
				<br>
				<button class="csvBtn" formaction="{% url 'profiles_app:committee_csv' %}">Download</button>
				<button type="submit" class="delBtn" formaction="{% url 'profiles_app:delete_committee' %}">Delete</button>
				<br>
				{% for search in committeesearch_list %}
				<br>
				<ul class="saveCommlist">
					<li class="savedSearchitem"><a>{{ search.committee_name }}</a><input type="checkbox" name="checkbox" class="checkbox" value="{{ search.id }}"></li>
				</ul>
				{% endfor %}
				</form>
			</div>
{% endif %}
</div>
{% endblock %}