{% extends 'home.html' %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
<br>
<h2>{{ user.username }}'s Profile</h2>
	<br>
	<div>
	{% comment %}
	{% for item in object_list %}
	{% endcomment %}
		<img src="{% static 'profile_pics' %}">{% comment %}{{ item.user_pic }}{% endcomment %}
		<h3>{{ item.user_title }}</h3>
		<article class="aboutUsertext">{{ item.about_user }}</article>
		
		<button><a href="{% url 'profiles_app:update_your_profile' %}">Update Profile</a></button>
	{% comment %}	
	{% endfor %}
	{% endcomment %}
	</div>
	<br>
		<h3>Saved Searches:</h3>
			<div class="savedSearchLeft">
				<p class="savedCand">Saved Candidate Searches</p>
				{% for search in object_list %}
				<ul class="saveCandlist">
					<li><a>{{ search.name }}</a><input type="checkbox" name="checkbox"></li>
				</ul>
				{% endfor %}
			</div>
			<div class="savedSearchRight">
				<p class="savedComm">Saved Committee Searches</p>
				{% for search in committeesearch_list %}
				<ul class="saveCommlist">
					<li><a>{{ search.committee_name }}</a><input type="checkbox" name="checkbox"></li>
				</ul>
				{% endfor %}
			</div>
{% endif %}
{% endblock %}