html {
	font-size: 62.5%;
}

body {
	font-size: 1.5em;
	line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  color: #222;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
}

.navbar {
  overflow: hidden;
}

.navbar a {
  float: left;
  font-size: inherit;
  color: #555;
  text-align: center;
  text-decoration: none;
}

button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
}

button:hover {
  color: #0FA0CE;
}

a {
  color: #1EAEDB;
}

a:hover {
  color: #ffa500;
}

input[type="text"] {
  height: 38px;
  margin: 10px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
}

div {
  border: 1px solid #D1D1D1;
  margin: 10px;
  padding: 5px;
  border-radius: 4px;
  width: auto;
}

p.aboutUsertext {
  text-align: left;
}

div.savedSearchLeft {
  border: 1px solid #D1D1D1;
  margin: 10px;
  padding: 5px;
  border-radius: 4px;
  width: 45%;
  float: left;
  text-align: left;
}

p.savedCand {
  text-align: center;
}

div.savedSearchRight {
  border: 1px solid #D1D1D1;
  margin: 10px;
  padding: 5px;
  border-radius: 4px;
  width: 45%;
  float: right;
  text-align: left;
}

p.savedComm {
  text-align: center;
}

img {
  border: 1px solid #D1D1D1;
  border-radius: 12px;
  width: auto;
}

article {
  border: 1px solid #D1D1D1;
  margin: 10px;
  padding: 10px;
  border-radius: 4px;
  text-align: left;
  width: auto;
}

article.item {
  text-align: left;
}

div.candSearchleft {
  /*float: left;*/
  text-align: center;
  /*width: 45%;*/
}

div.commSearchright {
  /*float: right;*/
  text-align: center;
  /*width: 45%;*/
}

select {

}

option {

}