html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
	display: grid;
	font-family: 'Roboto', sans-serif;
}

header {
	text-align: center;
}


main {
	text-align: center;
}

@media (min-width: 1000px) {

}